body {
	font-family: "Arial Narrow";
	font-size: 14px;
	padding: 0 1%;
}


/* Style of the filter box */
.filterBox {
	display: grid;
  	grid-template-columns: auto auto auto;
}

.filterBox .btnBox .displayBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.grid-item {
	text-align: center;
}

/* Style of the list */
.listBox {
	min-width: 1300px;
	margin: 10px 0;
	padding: 10px;
	margin: auto;
	position: relative;
}

.listBox .GoBackBtn {
    background-color: #7F7FFF;
    border: none;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;	
}

.PagesControl {
	height: 20px;
}

.row {
	height: 40px;
	margin: auto;
}

.row-title, .row .items {
	margin: auto;
	padding: 0 10px;
	line-height: 35px;
	text-align: center;
}

.row-title {
	background: #f0f0f0;
}

.row .items {
	border-bottom: 1px solid #e0e0e0;
}

.col-20, .col-10, .col-5 {
	display: inline-block;
	text-align: center;
	margin: 1px;
}

.col-20 {
	width: 190px;
}

.col-10 {
	width: 140px;
}

.col-5 {
	width: 70px;
}
